<div
  class="modal fade"
  [id]="'modalDelete-' + entry.key"
  tabindex="-1"
  [attr.aria-labelledby]="'modalDeleteLabel-' + +entry.key"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [id]="'modalDeleteLabel-' + +entry.key">
          Elimina {{ getDate(entry.key) }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Vuoi procedere con l'eliminazione della giornata? Non puoi tornare
        indietro
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annulla
        </button>
        <button
          data-bs-dismiss="modal"
          (click)="delete()"
          class="btn btn-danger"
        >
          Elimina
        </button>
      </div>
    </div>
  </div>
</div>
