<div
  class="modal fade"
  [id]="'modalEdit-' + entry.key"
  tabindex="-1"
  [attr.aria-labelledby]="'modalEditLabel-' + +entry.key"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [id]="'modalEditLabel-' + +entry.key">
          Modifica {{ getDate(entry.key) }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="modal-body">
          Stai per modificare la giornata selezionata.
          <div class="row mt-3">
            <div class="col-1 col-md-auto">
              <label for="da" class="col-form-label">Da</label>
            </div>
            <div class="col-11 col-md">
              <input
                type="time"
                class="form-control"
                formControlName="from"
                name="from"
                id="da"
                placeholder="Da"
                aria-label="Da"
              />
            </div>
            <div class="col-1 mt-3 mt-md-0 col-md-auto">
              <label for="a" class="col-form-label">A</label>
            </div>
            <div class="col-11 mt-3 mt-md-0 col-md">
              <input
                type="time"
                class="form-control"
                formControlName="to"
                name="to"
                id="a"
                placeholder="A"
                aria-label="A"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annulla
          </button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
            Salva
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
